[submodule "modules/core"]
	path = modules/core
	url = git@github.com:Linkaan/Core.git
[submodule "modules/slave"]
	path = modules/slave
	url = git@github.com:Linkaan/Slave.git
[submodule "modules/serializer"]
	path = modules/serializer
	url = https://github.com/Linkaan/Serializer
[submodule "modules/events"]
	path = modules/events
	url = git@github.com:Linkaan/Events.git
[submodule "modules/avr"]
	path = modules/avr
	url = git@github.com:Linkaan/AVR.git
[submodule "modules/avr-intermediate"]
	path = modules/avr-intermediate
	url = git@github.com:Linkaan/AVR-Intermediate.git
